/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/

#hero {}

/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {}

/* END "sm-" 576px and up */


/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {}

/* END "md-" 768px and up */


/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {

    /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {

    /* END "xl-" 1200px and up */
}

/*
.bg-custom-1 {
    background-color: #85144b;
}

.bg-custom-2 {
    background-image: linear-gradient(15deg, #ff547a 0%, #80d0c7 100%);
}
*/

/* very ugly & annoying hover effect*/
a {
    transition: background-color 1s ease;
    color: red;
}

a:hover {
    border-bottom: 2px solid #000000;
    border-bottom-width: thin;
}

.active {}

/*.menu2 {
    display: block;
    text-align: center;
    justify-content: space-between;
    margin: 3rem 0 0;
}

/*Selve knappen*/
button {
    font-size: 1rem;
    /*Den indre afstand i boksen*/
    padding: 10px;
    /*Fjerner kanten på knapperne*/
    margin: 0 0.2rem;
    cursor: pointer;
    border: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
    background-color: rgba(0, 0, 0, 0);
}

/*
.menu2 button.valgt {
    border-bottom: 1px solid #676360;
    outline: none;

}
*/

a .overskrift {
    text-align: center;
    font-size: 200em;
}
